* {
  margin: 0;
  padding: 0;
}

.product {
  border: rgba(62, 56, 56, 0.125) 2px solid;
  width: 300px;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 10px;
  float: left;
}

div h3,
p {
  margin-bottom: 5px;
  margin-left: 5px;
}

.product img {
  width: 97%;
  margin: 5px;
}

.price1,
.price2 {
  float: left;
  margin: 5px;
}
.price1 {
  color: #449118;
}

.price2 {
  color: #d90606;
  text-decoration: line-through;
}

.add-to-cart,
.wishlist {
  margin-top: 5px;
  font-size: 0.9em;
}

.add-to-cart {
  background-color: #007bff;
  color: #fff;
  width: 80%;
  border: 2px solid #007bff;
  margin-left: 5px;
  padding: 10px 20px;
}

.wishlist {
  padding: 10px 10px;
  background-color: #fff;
  border: 2px solid #007bff;
  color: #007bff;
  width: 15%;
}
